.title{
background-color: peachpuff;
}
.col{
  align-items: center;
   height: 200px;
    background: #f390d2;
    background: linear-gradient(90deg, #e0c0d3(248, 183, 226) 0%, rgb(241, 161, 185));
  border: 4;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.box{
  display: grid;
  grid-template-areas: "left right";
  max-width: 900px;
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
